@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 p-0 overflow-hidden antialiased;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@keyframes pulse {
  0% { transform: scale(1); opacity: 0.8; }
  50% { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(1); opacity: 0.8; }
}

/* index.css */
textarea::placeholder {
  color: inherit;
  opacity: 0.7;
}

select option {
  color: inherit;
  background: inherit;
}

/* index.css */
.send-button:not(:disabled):hover {
  opacity: 0.9;
}

/* width */
/* ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  @apply bg-zinc-300;
  border-radius: 8px;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  @apply bg-gray-500 rounded-full transition-all duration-300;
  border-radius: 8px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
  cursor: default;
} */
